body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(45deg, #1e293b, #0f172a);
    padding: 22px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: #facc15;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.container {
    width: 90%;
    margin: 25px auto;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #38bdf8;
}

.food-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 22px;
    margin-top: 20px;
}

.item {
    background: #1e293b;
    border-radius: 14px;
    padding: 18px;
    text-align: center;
    transition: 0.3s;
    border: 2px solid transparent;
}

.item:hover {
    transform: translateY(-4px);
    border-color: #38bdf8;
}

.food-img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

.price {
    color: #f97316;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.qty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.qty-btn {
    background-color: #f97316;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.qty-btn:hover {
    background-color: #ea580c;
    transform: scale(1.1);
}

.qty-number {
    font-size: 20px;
    width: 40px;
    font-weight: bold;
    text-align: center;
}

.next-btn {
    display: block;
    width: 260px;
    margin: 40px auto;
    background-color: #2563eb;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.next-btn:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}
