body {
  font-family: "Poppins", sans-serif;
  background: #121212;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 30px;
}

h1 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.ticket-info {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  min-width: 320px;
}

.ticket-info p {
  font-size: 16px;
  margin: 8px 0;
}

.food-section {
  margin-top: 20px;
  padding: 15px;
  background: #252525;
  border-radius: 10px;
}

.food-section h3 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.food-item {
  font-size: 15px;
  margin: 5px 0;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

button {
  background-color: #ffcc00;
  color: #000;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

button:hover {
  background-color: #ffdb4d;
}

.cinema-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffdb4d;
  margin-top: 10px;
  text-transform: uppercase;
}
.history-btn {
  margin-top: 10px;
  padding: 10px 22px;
  background-color: #f1c40f; /* nền vàng */
  color: #000;              /* chữ đen */
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.history-btn:hover {
  background-color: #d4ac0d; /* vàng đậm khi hover */
}
